@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <h1>Usuario</h1>
    <br />
    <br />

    <label for="Usuario"</label>

    <title>Usuario</title>

</head>

<body>

    <form action="/my-handling-form-page" method="post">
        <div>
            <label for="name">Username:</label>
            <input type="text" id="name" name="user_name" />
        </div>
        <br />
        <div>
            <label for="Password">Password:</label>
            <input type="text" id="Password" name="user_Password" />
        </div>
        <br />
        <div>
            <label for="mail">E-mail:</label>
            <input type="email" id="mail" name="user_email" />
        </div>
        <br />
        <div>
            <label for="Points">Points:</label>
            <textarea id="Points" name="user_Points"></textarea>
        </div>
        <br />
        <br />

        <div class="button">
            <button type="submit">Send your message</button>
        </div>
    </form>
    <br />

    <TABLE BORDER="2" CELLPADDING="10">
        <TR>
            <TD>PELICULA</TD>
            <TD>HORARIO</TD>
            
        </TR>
        <TR>
            <TD>A</TD>
            <TD>A</TD>
            
        </TR>
        <TR>
            <TD>A</TD>
            <TD>A</TD>
            <
        </TR>
        <TR>
            <TD>A</TD>
            <TD>A</TD>
            
        </TR>
    </TABLE>

    <br />



</body>

</html>


