@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CineHitss.Models.Filtro

<div class="col-lg-8">
    aqui va la tabla 
   

</div>
    <div class="col-lg-4">
        <div class="col-md-4" style="margin-right:70px">
            <h2>Titulo</h2>
            <p>
                <select name="menu">
                    <option value="0" selected>(please select:)</option>
                    <option value="1">one</option>
                    <option value="2">two</option>
                    <option value="3">three</option>
                    <option value="other">other, please specify:</option>
                </select>
            </p>

        </div>

        <div class="col-md-4">
            <div class="col-md-4" style="margin-right:70px">
                <h2>Ciudad</h2>
                <p>
                    <select name="menu">
                        <option value="0" selected>(please select:)</option>
                        <option value="1">one</option>
                        <option value="2">two</option>
                        <option value="3">three</option>
                        <option value="other">other, please specify:</option>
                    </select>
                </p>
            </div>

            </div>
            <div class="col-md-4">
                <div class="col-md-4" style="margin-right:70px">
                    <h2>Cine</h2>
                    <p>
                        <select name="menu">
                            <option value="0" selected>(please select:)</option>
                            <option value="1">one</option>
                            <option value="2">two</option>
                            <option value="3">three</option>
                            <option value="other">other, please specify:</option>
                        </select>
                    </p>






                </div>
                
                
            </div>


            <div class="col-md-4">
                <h2>Pelicula</h2>
                <p>
                    <select name="menu">
                        <option value="0" selected>(please select:)</option>
                        <option value="1">one</option>
                        <option value="2">two</option>
                        <option value="3">three</option>
                        <option value="other">other, please specify:</option>
                    </select>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Genero</h2>
                <p>
                    <select name="menu">
                        <option value="0" selected>(please select:)</option>
                        <option value="1">one</option>
                        <option value="2">two</option>
                        <option value="3">three</option>
                        <option value="other">other, please specify:</option>
                    </select>
                </p>
            </div>
        </div>

